@import "tailwindcss";

/* --- KIOSK HIMOYASI --- */
body {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  touch-action: pan-y; 
  overflow: hidden; 
  background-color: #0f172a; /* Agar tailwind yuklanmasa ham qora fon tursin */
}

img, video {
  -webkit-user-drag: none;
  pointer-events: none; 
}

/* --- SCROLLBAR --- */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}