@import "tailwindcss";

body {
  @apply bg-slate-100 text-slate-800;
  font-family: 'Inter', system-ui, sans-serif; /* Jiddiy shrift */
  user-select: none;
  touch-action: pan-x pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* Scrollbarni yashirish (Kioskda xunuk ko'rinmasligi uchun) */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}